*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.principalContainer{
    /* border: solid yellow; */
    display: flex;
}

    /* aside{
            border: solid red;
    } */

    main{
        /* border: solid green; */
        width: 100%;
        padding: 0px 20px 0 20px;
    }

/* Disenio para moviles */
@media (max-width: 480px) {
    .asideNav{
        position: fixed;
    }
} 

/* Disenio para tabletas */
@media (min-width: 481px) and (max-width: 1200px) {
    .asideNav{
        position: fixed;
    }
}